
{{#each animalsWithImage}}
<div class="card">
  <img src={{image}} alt="">
  <div class="content">
    <center>
    <h2><strong> Name: </strong>{{_doc.animalname}}</h2>
    <span><strong>Age: </strong> {{_doc.animalage}}</span>
    <span><strong>Owner: </strong>{{_doc.owner}}</span>

    <a href="/animals/{{_doc.id}}?url={{image}}"><button>Details</button></a>
    </center>
  </div>
</div>
{{/each}}