<div class="card individual">
  <h2>{{ animalname}}</h2>
  <img src={{image}} alt="">
  {{#each properties}}
 <br><br>

   <span><strong> Name: </strong> {{_doc.animalname}}</span>
  <span><strong>Sex: </strong>{{_doc.sexname}}</span>
  <span><strong>Specie: </strong> {{_doc.speciesname}}</span>
  <span><strong>Age: </strong>{{_doc.animalage}}</span>
  <span><strong>Colour: </strong>{{_doc.basecolour}}</span>
  <span><strong>Owner: </strong>{{_doc.owner}}</span>
  <a href="/animals/adopted/{{_doc.id}}?"> <button>Adopt</button></a>

  {{/each}}
  
</div>